@charset "UTF-8";
/*公共样式*/
html, body, div, p, dl, dt, dd, ul, ol, li, form, table, tr, td, th, h1, h2, h3, h4, h5, h6, hr, figure, fieldset, legend, img, input, header, footer, nav, aside, article, section { margin: 0; padding: 0; }

body { font-family: "微软雅黑",Arial; }

a { text-decoration: none; }

ul, li { list-style: none; }

img { border: none; }

.clear:after { clear: both; height: 0; overflow: hidden; content: ""; display: block; visibility: hidden; }

/*顶部栏*/
header { width: 100%; background: #333; }

.header_cont { width: 1080px; margin: 0 auto; }

.header_cont a:hover { color: white; }

.header_left { float: left; height: 30px; line-height: 30px; }

.header_left li { float: left; font-size: 12px; }

.header_cont a { color: #ccc; }

.header_left span { display: inline-block; width: 1px; height: 11px; margin: 0 18px; background: #ccc; vertical-align: middle; }

.header_right { float: right; height: 30px; line-height: 30px; }

.header_right li { float: left; font-size: 12px; }

.header_right .b { display: inline-block; width: 1px; height: 11px; margin: 0 21px; background: #ccc; vertical-align: middle; }

.userLogin { margin-right: 24px; }

.loginAndReg { display: block; }

.userNameMsg:hover .userJianT { background: url(../img/comSprite.png) 0 -88px no-repeat; }

.userNameMsg:hover #userMessageDiv { display: block; }

.userNameMsg { display: none; position: relative; }

.userNameMsg #userName { margin: 0 5px; }

.userNameMsg .userJianT { display: inline-block; width: 9px; height: 4px; margin-left: 10px; vertical-align: middle; background: url(../img/comSprite.png) 0 -102px no-repeat; }

.userNameMsg #userMessageDiv { display: none; position: absolute; box-shadow: 0px 0px 8px 5px #eee; left: -2px; top: 35px; width: 100px; }

.userNameMsg #userMessageDiv li { width: 100%; clear: both; font-size: 14px; line-height: 30px; }

.userNameMsg #userMessageDiv li a { color: black; display: block; text-align: center; }

.userMsg, .shopMsg { width: 112px; }

.userMsg .msgBg { display: inline-block; vertical-align: -0.5px; width: 16px; height: 13px; margin-right: 12px; background: url(../img/header_msg.jpg); }

.userMsg .msgAmount { margin-left: 10px; }

.shopMsg { background: #523669; }

.shopMsg .shopBg { display: inline-block; width: 16px; height: 16px; vertical-align: -2px; margin-right: 10px; margin-left: 15px; background: url(../img/header_shop.jpg); }

.shopMsg .shopAmount { margin-left: 4px; }

.header_right .appLi { position: relative; }

.header_right .appLi:hover .app { display: block; z-index: 10000; }

.header_right .app { position: absolute; left: -35px; top: 35px; text-align: center; width: 135px; font-size: 12px; line-height: 20px; box-shadow: 0px 0px 8px 5px #eee; background: white; z-index: 100; display: none; }

.header_right .app li { width: 100%; }

/*导航栏*/
nav { width: 100%; background: white; z-index: 100; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }

.nav-cont { width: 1080px; height: 98px; margin: 0 auto; }

.logo { float: left; width: 231px; height: 50px; margin-top: 24px; background: url(../img/logo.png); /*display: none;*/ }

.good-search { float: right; margin-top: 30px; }

#search-input { width: 308px; height: 38px; line-height: 38px; font-size: 16px; text-indent: 10px; border: 1px solid #cccccc; float: left; border-top-left-radius: 5px; border-bottom-left-radius: 5px; outline: none; }

#search-btn { width: 40px; height: 40px; border: 1px solid #cccccc; border-left: none; border-top-right-radius: 5px; border-bottom-right-radius: 5px; background: url(../img/search.png) center center no-repeat; vertical-align: middle; float: left; outline: none; cursor: pointer; }

#reminder { width: 310px; position: absolute; background: white; padding-top: 10px; padding-bottom: 10px; box-shadow: 0px 0px 8px 2px #eee; display: none; z-index: 100; }

.nav-category { float: left; position: relative; display: none; }

.nav-category > p { line-height: 60px; height: 60px; }

.nav-category:hover .category-bg { background: url(../img/jiant2.jpg); background-size: 100%; }

.category-bg { display: inline-block; margin-left: 10px; width: 15px; height: 8px; background: url(../img/jiant1.jpg); background-size: 100%; }

.nav-category > div { position: absolute; top: 60px; }

.nav-category:hover .nav-div { display: block; }

.nav-div { display: none; z-index: 1000; }

.nav-list { background: rgba(89, 88, 96, 0.8); padding-top: 20px; height: 340px; width: 200px; }

.nav-list > li > p { line-height: 40px; height: 40px; font-size: 14px; color: white; padding-left: 28px; }

.nav-list > li span { display: inline-block; width: 24px; text-align: center; }

.nav-list > li > p a { color: white; }

.list-content { position: absolute; width: 650px; left: 200px; top: 0px; color: black; background: white; font-size: 12px; padding-top: 10px; padding-right: 10px; min-height: 350px; display: none; z-index: 1000; }

.list-content li ul li { float: left; }

.list-content a { color: gray; margin: 0 10px; }

.list-content a:hover { color: black; }

.list-content li { line-height: 55px; }

.list-content .list-tit { display: inline-block; width: 62px; text-align: right; color: black; font-size: 14px; }

.list-content ul li:last-child { width: 530px; border-bottom: 1px solid #eee; }

/*侧边栏aside*/
aside { position: fixed; right: 34px; bottom: 180px; width: 63px; cursor: pointer; }

.rightBar { position: relative; }

.rightBar span { float: left; width: 15px; height: 48px; }

.rightBar a { float: left; width: 48px; height: 48px; }

.rightBar-share { position: absolute; top: -48px; right: 0px; background: url(../img/rightBar-share.png); }

.rightBar-share:hover { background: url(../img/rightBar-shareActive.png); }

.rightBar-code { background: url(../img/rightBar-code.png); background-size: 100%; }

.rightBar-code:hover { background: url(../img/rightBar-codeActive.png); }

.rightBar .rightBar-top { background: url(../img/rightBar-top.png); background-size: 100%; opacity: 0; }

.rightBar-top:hover { background: url(../img/rightBar-topActive.png); }

.ewmCode { position: absolute; left: -304px; top: -50px; text-align: center; padding: 10px; background: white; display: none; box-shadow: 0 0 10px #808080; }

.ewmCode li { float: left; }

.ewmCode span { display: block; width: 145px; height: 145px; line-height: 145px; }

.ewmCode span img { vertical-align: middle; }

.ewmCode p { line-height: 20px; color: #808080; font-size: 14px; }

/*底部*/
footer { width: 100%; height: 444px; background: white; }

footer .footer-cont { width: 1080px; margin: 0 auto; height: 100%; }

.part-top { height: 120px; display: flex; flex-direction: row; border-bottom: 1px solid #cccccc; }

.part-top li { flex: 1; height: 100%; text-indent: 135px; line-height: 120px; font-size: 16px; color: #333333; background-repeat: no-repeat; background-position: 35px 23px; }

.part-top li:nth-child(1) { background-image: url(../img/serve-make.png); }

.part-top li:nth-child(2) { background-image: url(../img/serve-backage.png); }

.part-top li:nth-child(3) { background-image: url(../img/serve-pay.png); }

.part-top li:nth-child(4) { background-image: url(../img/serve-refund.png); }

.part-center { padding-top: 30px; padding-bottom: 52px; }

.part-center dl { float: left; text-align: center; padding: 0 58px; height: 142px; line-height: 28px; font-size: 14px; color: #808080; }

.part-center dt { margin-bottom: 26px; font-size: 18px; color: #333333; }

.part-center dd a { color: #808080; }

.part-center dd a:hover { color: black; }

.part-center .biyaoApp { padding-right: 130px; background: url(../img/app.png) no-repeat 54px bottom; background-size: 98px 98px; border-right: 1px solid #cccccc; }

.theApp { position: relative; }

.theApp:hover .weixin { display: inline-block; }

.weixin { position: absolute; top: -35px; left: 70px; width: 98px; height: 98px; display: none; box-shadow: 0 0 10px gray; }

.part-bottom { height: 105px; text-align: center; font-size: 12px; line-height: 28px; color: #808080; }

.part-bottom span { margin: 0 13px; }

.details-cont { width: 1080px; margin: 0 auto; }

.title { height: 48px; line-height: 48px; font-size: 14px; color: #808080; }

.title a { color: #666666; }

.goods-pictures { float: left; width: 562px; }

#goodsPic { float: left; width: 460px; height: 460px; position: relative; background: url(../img/goods-pic1.jpg); background-size: 100% 100%; border: 1px solid #cccccc; }

#goods-list { float: right; height: 462px; display: flex; flex-direction: column; justify-content: space-between; }

#goods-list li { width: 80px; height: 80px; background-size: 100% 100%; border: 1px solid #cccccc; }

#goods-list li:first-child { border: 1px solid #523669; }

.goods-policy { padding-top: 20px; }

.goods-policy li { float: left; margin-right: 10px; font-size: 12px; color: black; position: relative; cursor: pointer; }

.goods-policy li > span { background: url(../img/policy-icon.png) left center no-repeat; padding-left: 20px; }

.goods-policy li:hover div { display: block; }

.goods-policy div { width: 250px; position: absolute; left: -55px; top: 25px; box-shadow: 0 1px 10px 4px rgba(0, 0, 0, 0.05); background: white; border-radius: 4px; display: none; z-index: 2; }

.goods-policy div span { display: block; position: absolute; top: -15px; left: 80px; width: 30px; height: 15px; background: url(../img/triangle.png) no-repeat; }

.goods-policy div p { padding: 10px 15px; line-height: 27px; }

.goods-panel { width: 465px; float: right; }

.panel-top { border-bottom: 1px solid #e5e5e5; }

.panel-top h3 { height: 30px; line-height: 30px; font-size: 20px; color: #333333; font-weight: normal; }

.panel-top p { height: 50px; line-height: 50px; font-size: 14px; color: #999999; }

.goods-specs { padding-top: 16px; }

.goods-specs > li { margin-bottom: 16px; font-size: 14px; color: #666666; }

.goods-specs > li .specs-tit { display: inline-block; vertical-align: middle; padding-right: 36px; height: 35px; line-height: 35px; }

.goods-specs > li .goods-price-icon { color: #f85453; }

.goods-specs > li .goods-price-icon .goods-price { font-size: 26px; }

.goods-specs > li .product-time { display: inline-block; vertical-align: middle; }

.goods-specs > li ul { display: inline-block; vertical-align: middle; }

.goods-specs > li ul > li { height: 35px; line-height: 35px; text-align: center; border: 1px solid #cccccc; padding: 0 20px; margin-right: 6px; position: relative; float: left; cursor: pointer; }

.goods-specs > li ul > li:first-child { border: 1px solid #523669; }

.goods-specs > li ul > li:last-child { margin-right: 0px; }

.specs-active { position: absolute; right: 0; bottom: 0; display: block; width: 22px; height: 22px; background: url(../img/specs-active.png); }

.size-form { font-size: 12px; margin-left: 68px; margin-top: 15px; cursor: pointer; }

.goods-num-panel { display: inline-block; vertical-align: middle; height: 30px; border: 1px solid #cccccc; cursor: pointer; }

.goods-num-panel span { float: left; font-size: 12px; line-height: 30px; width: 23px; text-align: center; }

.goods-num-panel .goods-num { width: 28px; color: black; font-size: 14px; border-left: 1px solid #ededee; border-right: 1px solid #ededee; }

.panel-bottom { float: right; text-align: center; font-size: 20px; color: white; height: 40px; line-height: 40px; }

.panel-bottom p { width: 180px; margin-right: 20px; height: 40px; float: left; cursor: pointer; }

.addShopCar { background: #f7b200; width: 180px; margin-right: 20px; height: 40px; cursor: pointer; color: white; line-height: 40px; text-align: center; font-size: 20px; }

.buy-now { background: #523669; }

.goods-sectionView { margin-top: 40px; }

.sectionView-header { background: #eeecef; width: 1078px; font-size: 16px; height: 60px; line-height: 60px; z-index: 1; border: 1px solid #ccc; }

.sectionView-header p { margin-top: 10px; display: none; }

.goods-supplier { float: left; color: black; width: 240px; border-right: 1px solid #cccccc; }

.supplier-icon { display: inline-block; vertical-align: middle; width: 20px; height: 18px; background: url(../img/supplier-icon.png) no-repeat; margin-left: 28px; margin-right: 12px; }

.sectionView-focus { float: left; text-align: center; }

.sectionView-focus li { float: left; width: 180px; cursor: pointer; position: relative; border-right: 1px solid #cccccc; }

.sectionView-focus span { margin: 0 5px; }

.sectionView-focus i { position: absolute; display: none; height: 3px; width: 100%; background: #523669; left: 0; bottom: 0; }

.sectionView-focus li:first-child { color: #523669; background: #fff; }

.sectionView-focus li:first-child i { display: block; }

.aside-left { width: 240px; float: left; border: 1px solid #cccccc; border-top: none; }

.aside-left .supplier-Msg { padding: 20px; padding-top: 18px; }

.aside-left .supplier-Msg a { float: left; border: 1px solid #ccc; }

.aside-left .supplier-Msg a img { width: 76px; height: 76px; display: block; }

.aside-left .supplier-Msg ul { float: left; padding-left: 10px; padding-top: 12px; font-size: 12px; }

.aside-left .supplier-Msg ul li { height: 28px; line-height: 28px; }

.aside-left .supplier-Msg ul li span { color: #f7b200; }

.aside-left > a { display: block; width: 200px; height: 40px; line-height: 40px; margin: 0 auto; color: #fff; background: #f7b200; font-size: 16px; text-align: center; }

.supplier-goodsList { margin: 0 20px; cursor: pointer; text-align: center; }

.supplier-goodsList ul { padding: 16px 0; }

.supplier-goodsList ul li { height: 32px; line-height: 32px; font-size: 16px; }

.supplier-goodsList ul li span { color: #ff3333; }

.supplier-goodsList > li { padding-top: 40px; border-top: 1px solid #ccc; }

.supplier-goodsList > li:first-child { border-top: none; }

.goods-img { width: 200px; height: 200px; background: url(../img/supplier-goods01.jpg) no-repeat; }

.aside-right { float: left; width: 838px; }

.aside-right div { width: 100%; }

#goods-info { padding-top: 36px; padding-left: 38px; }

#goods-info li { width: 800px; font-size: 14px; line-height: 32px; }

#goods-info li dl { display: flex; border-bottom: 2px dotted #cecece; }

#goods-info li dt { width: 165px; color: #666666; }

#goods-info li dd { flex: 1; color: black; }

.goods-info-img { margin-top: 22px; }

.goods-info-img p { height: 50px; line-height: 50px; font-size: 18px; text-align: center; }

.goods-info-img div { width: 800px; height: 320px; background: url(../img/goods-infor01.jpg); }

#evaluate-info { height: 500px; padding-top: 36px; padding-left: 38px; display: none; }
