@charset "utf-8";
@import "public";

//header部分
.login-header{
    height:98px;
    line-height:98px;
    padding:0 32px;
    .logo{
        float:left;
        width:231px;
        height:50px;
        margin-top:24px;
        background:url(../img/logo.png);
    }
    p{
        float:right;
        font-size:12px;
        color:#8c8292;
        span{
            padding:0 5px;
        }
        a{
            color:#8c8292;
        }
    }
}


//注册部分
.login-cont{
    background:#f9f9f9;
    height:640px;
    form{
        width:400px;
        margin:0 auto;
    }
    form h3{
        font-weight: normal;
        font-size: 20px;
        color:#523669;
        padding-top:54px;
        span{
            display: block;
            float:left;
            height:25px;
            line-height:25px;
        }
        .reg-icon{
            width:25px;
            height:25px;
            margin-right:5px;
            background-image: url(../img/sprit_biyao.png);
            background-position: 0px -520px;
        }
    }
    form ul{
        position: relative;
        li{
            height:40px;
            margin-top:20px;
            position: relative;
            input{
                height:38px;
                font-size:14px;
                color:#999999;
                border:1px solid #e8e8e8;
                text-indent: 20px;
                vertical-align: middle;
                outline: none;
                font-family:"Microsoft YaHei";
            }
            #telePhone,#userPass{
                width:400px;
            }
           
        }
        .deal{
            margin-top:10px;
            line-height:40px;
            font-size:12px;
            vertical-align: middle;
            
            input{
                width:13px;
                height:13px;
                border: 1px solid #d5cdda;
                cursor: pointer;
            }
            label{
                margin-left:10px;
                color:#8a8a8a;
                cursor: pointer;
            }
            a{
                float:right;
                color:#07a6df;
                cursor: pointer;
                }
        }
        .LogLi{
            height:50px;
            #LogBtn{
                width:100%;
                height:50px;
                background: #f49f26;
                font-size:20px;
                color:white;
                cursor: pointer;
            }
        }
    }
}

.errorMsg{
    position: absolute;
    top:0px;
    width:300px;
    right:-315px;
    left:412px;
    height:40px;
    line-height: 40px;
    font-size:12px;
    color:#f49f26;
    vertical-align: middle;
}
#lastErrorMsg{
    font-size:12px;
    color:#f49f26;
    margin-top:0px;
    height:12px;
    display: none;
}

#elseLogin{
    margin-top:40px;
    height:32px;
    line-height:32px;
    font-size:14px;
    color:#666666;
    text-align: center;
    a{
        display: inline-block;
        width:100px;
        height:32px;
        border:1px solid #cbcbcb;
        vertical-align: middle;
    }
    #weixLogin{
        background: url(../img/weix.jpg);
        margin-right:12px;
    }
    #qqLogin{
        background: url(../img/qq.jpg);
        
    }
}
