@charset "utf-8";
@import "public";


body{
    background: #f9f9f9;
}
//顶部栏
.header_cont{
    width:1200px;
}

//导航栏
#shopcar-nav{
    border-bottom: 1px solid #eae4e8;
}
.shopcar-nav-cont{
    width:1200px;
    height:98px;
    margin:0 auto;
}
.steps-box{
    width:560px;
    float:right;
    padding-top:26px;
    li{
        float:left;
        width:140px;
        text-align: center;
        height:26px;
        line-height:26px;
        font-size: 12px;
        color:#d5cdda;
    }
    li:first-child{
        color:#724a88;
    }
}
.step-icon{
    height:20px;
    background: url(../img/car_steps.png) -30px -23px no-repeat;
}

//主要部分
#shopcar-content{
    width:1200px;
    min-height: 640px;
    margin:0 auto;
   
}
#shopcar-info{
    font-size:12px;
    color:#52346a;
     h3{
        height:46px;
        line-height: 46px;
        padding-top:20px;
        font-size: 20px;
        font-weight: normal;
        text-indent: 10px;
        border-bottom: 1px solid #d5cdda;
    }
}
.common-info{
    table{
        width:1200px;
        td{
            height:37px;
        }
    }
}
.checkbox{
    width:35px;
    vertical-align: middle;
    span{
        display: inline-block;
        width:15px;
        height:15px;
        background: url(../img/commonSprite.png) -20px -80px no-repeat;
//      background: url(../img/commonSprite.png) 0 -80px no-repeat;
        
    }
}
//根据店铺添加的商品
.shoptit{
    table{
        width:1200px;
        background: #eee;
        color:#333333;
        td{
            height:37px;
        }
        td:last-child{
            color:#666666;
            text-align: left;
        }
    }
}
.goods-list-panel{
    background: #fff;
    tr{
        height:120px;
    }
    td{
        border-bottom: 1px dashed #ccc;
        img{
            display: block;
        }
        p{
            line-height:28px;
        }
        li{
            color:#999999;
            line-height:20px;
        }
    }
    .priceColor{
        color:#f49f26;
    }
    .deleteGood{
        color:#ccc;
        font-size: 20px;
        span{
            cursor:pointer;
        }
    }
}
.changeGoodNum{
    span{
        float:left;
        height:30px;
        line-height:30px;
        border:1px solid #ccc;
        cursor: pointer;
    }
    .minusNum,.addNum{
        width:27px;
    }
    .goodNum{
        width:47px;
        border-left:none;
        border-right:none;
    }
}

//checkAll-panel全选，商品总数
.checkAll-panel{
    height:52px;
    line-height:52px;
    background: white;
    border-bottom:1px solid #d5cdda;
    a{
        vertical-align: middle;
        color:#26aee2;
         margin:0 5px;
    }
    span:first-child{
        margin:0 5px;
    }
    span{
        vertical-align: middle;
        b{
            font-weight: normal;
            color:#f49f26;
            margin:0 5px;
        }
    }
    .checkAll-panel-left{
        float:left;
    }
    .checkAll-panel-right{
        float:right;
        span{
            margin-right:30px;
        }
    }
}

//pay-panel结算
.pay-panel{
    height:50px;
    line-height:50px;
    background:#eeecef;
    a{
        display: inline-block;
        padding:0 18px;
        height:32px;
        line-height:32px;
        color:white;
        background: #f49f26;
    }
    .goonShopping{
        background: #724a88;
        display: block;
    }
    .pay-panel-left{
        float:left;
        height:32px;
        margin-top:9px;
    }
    .pay-panel-right{
        float:right;
        span{
            margin-right:36px;
        }
        b{
            font-weight: 100;
            color:#f49f26;
        }
    }
}

//没有商品的默认显示
#noGoodsBox{
    div:first-child{
//      padding-left:424px;
        padding-left:500px;
        padding-top:162px;
        font-size:14px;
        font-weight: bold;
        img{
           vertical-align: middle;
           margin-right: 10px;
        }
        p{
            display: inline-block;
            vertical-align: middle;
   
        }
    }
    div:last-child{
        a{
            display: block;
            width:120px;
            height:40px;
            line-height:40px;
            text-align: center;
            background: #724a88;
            color:white;
            font-size:16px;
            margin:22px auto;
        }
    }
}
.unLoginTip{
    display: none;
}
.loginTip{
    display: inline-block;
}


//弹出层-收货信息
.layer{
    display: none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.5);
    .layer-cont{
        position: absolute;
        width:750px;
        height:352px;
        left:235px;
        top:162px;
        background: white;
        padding:0 20px;
        .layer-cont-tit{
            height:42px;
            font-size:16px;
            border:{
                bottom:1px dashed #cccccc;
            }
            span{
                float:left;
                margin-top:12px;
            }
            .close{
                float:right;
                width:16px;
                height:16px;
                cursor:pointer;
                background: url(../img/cls_btn.png);
            }
        }
        .layer-cont-focus{
              font-size:12px;
              .txt{
                  height:30px;
                  width:208px;
                  border:1px solid #ccc;
                  text-indent: 5px;
                  outline: none;
              }
              .addressDefault{
                  height:30px;
                  line-height:30px;
                  font-size:14px;
                  padding-left:165px;
              }
            a:last-child{
                display: block;
                width:120px;
                height:28px;
                line-height: 28px;
                text-align: center;
                background: #724a88;
                color:white;
                margin-left:164px;
                border-radius: 3px;
                margin-top: 45px;
            }
        }
    }
}
.provinceAndCity{
    
}
.province,.city{
    width:120px;
    height:30px;
    line-height:30px;
    text-indent: 5px;
    margin-right:10px;
    float:left;
    position: relative;
    cursor:pointer;
    >div{
        border:1px solid #ccc;
        background: url(../img/select.jpg) right center no-repeat;
    }
    ul{
        display: none;
        position: absolute;
        width:118px;
        max-height:215px;
        overflow: auto;
        left:0;
        top:32px;
        border:1px solid #ccc;
        border-top:none;
        z-index: 10;
        background: white;
        li{
            height:22px;
            line-height:22px;
            font-size: 12px;
        }
        li:hover{
            background: #808080;
        }
    }
}
